.summary_image {
    width: 500px;
    height: 600px;
}

.inspectable_item:hover {
    cursor: pointer;
}

.iframe_div {
    height: 100%;
    width: 100%;
}

.plotly_graph {
    width: 100%;
    height: 800px;
}

.yaxislayer-above .ytick text {
    background-color: red;
    width: 100px;
    height: 100px;
    white-space: pre-wrap; /* Allow line breaks */
    overflow-wrap: break-word;
}
