.goi_alert {
    display: none;
}

.submission_alert {
    display: none;
}

.form-control {
    width: 200px;
}

.form-group { 
    margin-bottom: 1rem; 
}

.de_option {
    display: none;
}

#submit_req {
    width: 200px;
    height: 50px;
}