<div id="de_view_container" style="width: 100%; height: 100%; display: none;">
    <h1 class="ml-3 mt-3 d-flex align-items-center justify-content-center" id="results_header" style="display: none;"></h1>
    <div class="mt-3 d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="toggle_de_summary" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="toggle_de_summary">Summary</label>

            <input type="radio" class="btn-check" name="btnradio" id="toggle_de_mds" autocomplete="off">
            <label class="btn btn-outline-primary" for="toggle_de_mds">MDS</label>

            <input type="radio" class="btn-check" name="btnradio" id="toggle_de_volcano" autocomplete="off">
            <label class="btn btn-outline-primary" for="toggle_de_volcano">Volcano</label>

            <input type="radio" class="btn-check" name="btnradio" id="toggle_gsea_summary" autocomplete="off">
            <label class="btn btn-outline-primary" for="toggle_gsea_summary">GSEA</label>
        </div>
    </div>

    <div class="de_results">
        <div id="de_summary_div">
            <h2 class="d-flex justify-content-center mt-3">DE Summary</h2>
            <div id="de_summary_plots" class="card mt-3">
                <div class="card-header">DE Summary Plots</div>
                <div>
                    <div class="d-flex flex-column align-items-center">
                        <h3 id="analysis_specific_image_title" class="mt-3"></h3>
                        <div id="analysis_specific_div" style="height: 800px; width: 100%;">
                            <iframe id="analysis_specific_image" class="iframe_div"></iframe>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <h3 id="n_t_boxplot_image_title" class="mt-3"></h3>
                        <div id="n_t_boxplot_div" style="height: 800px; width: 100%;">
                            <iframe id="n_t_boxplot_image" class="iframe_div"></iframe>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <h3 id="strat_boxplot_image_title" class="mt-3"></h3>
                        <div id="strat_boxplot_div" style="height: 800px; width: 100%;">
                            <iframe id="strat_boxplot_image" class="iframe_div"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="de_mds_div" style="overflow: hidden; display: none;">
            <h2 class="d-flex justify-content-center mt-3">MDS Plot</h2>
            <div class="card mt-3" style="height: 800px;">
                <div class="card-header">DE MDS Plot</div>
                <iframe id="de_mds" class="iframe_div"></iframe>
            </div>
        </div>
        <div id="de_volcano_div" style="overflow: hidden; display: none;">
            <h2 class="d-flex justify-content-center mt-3">Volcano Plot</h2>
            <div class="card mt-3" style="height: 800px;">
                <div class="card-header">DE Volcano Plot</div>
                <iframe id="de_volcano" class="iframe_div"></iframe>
            </div>
        </div>
        <div id="de_gsea_div" style="display: none;">
            <div class="ml-3 mt-3 row justify-content-md-center" style="width: 100%; height: 100%;" id="gsea_loading_div">
                <div class="col-auto">
                    <div class="spinner-border" id="gsea_loading_spinner" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <div class="col-auto">
                    <div id="gsea_status" class="ml-2 pt-1">
                        Waiting for GSEA Analysis
                    </div>
                </div>
            </div>
            <div id="gsea_content" class="ml-3 mt-3 justify-content-md-center" style="display: none;">
                <h2 class="d-flex justify-content-center mt-3">GSEA Summary</h2>
                <div class="card mt-3">
                    <div class="card-header">DE GSEA Plot</div>
                    <div id="de_gsea_summary_div" style="height: 800px; width: 100%;">
                        <div id="de_gsea_summary_image" style="width: 100%; height: 100%"></div>
                    </div>
                    <div id="gsea_reports" class="ml-3 mt-3 mb-3 d-flex justify-content-around" style="width: 100%;">
                        <a href="" id="gsea_hallmark_report" target="_blank" rel="noopener noreferrer">GSEA Hallmark Report</a>
                        <a href="" id="gsea_curated_report" target="_blank" rel="noopener noreferrer">GSEA Curated Report</a>
                    </div>
                </div>
            </div>
        </div>

        {% include 'analysis/display_analysis_settings.html' %}

        <div id="download_de_div" class="mt-5 mb-3" style="width: 100%; display: none;">
            <div class="d-flex justify-content-center">
                <button id="download_de" class="btn btn-primary mb-3">Download</button>
            </div>
        </div>
    </div>
</div>