<div class="accordion mt-3" id="analysis_settings_div">
  <div class="accordion-item">
    <h2 class="accordion-header" id="analysis_settings_header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#analysis_settings_content" aria-expanded="false" aria-controls="analysis_settings_content">
        Analysis Settings
      </button>
    </h2>
    <div id="analysis_settings_content" class="accordion-collapse collapse" aria-labelledby="analysis_settings_header" data-bs-parent="#analysis_settings_div">
      <div class="accordion-body">
        <p></p>
      </div>
    </div>
  </div>
</div>