<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'analysis/submission_style.css' %}">
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {{ analysis_form.media }}
  </head>
  <body>
    <main>
        <div class="container">
            <h1>Title</h1>
            <div id="input_args">
                <form id="input_form" method="POST">
                    {% csrf_token %}
                    <div id="select_script" class="card mt-3">
                        <div class="card-header">Script</div>
                        <div class="card-body">
                            <p>{{ analysis_form.script_type }}</p>
                        </div>
                    </div>
                    <div id="select_project" class="card mt-3">
                        <div class="card-header">Project</div>
                        <div class="card-body">
                            {{ analysis_form.project }}
                            {{ analysis_form.project.media }}
                        </div>
                    </div>
                    <div id="goi_settings" class="card mt-3">
                        <div class="card-header">Genes of Interest</div>
                            <div class="card-body">
                                {{ analysis_form.composite_analysis_type }}
                                {{ analysis_form.gene_selected }}
                                <div class="text-danger mt-3 submission_alert" id="goi_alert">
                                    <strong class="mx-2">Error!</strong> Please enter at least 2 Genes.
                                </div>
                            </div>
                        </div>
                    </div>
                    <span id="analysis_type_span">
                        <div id="analysis_type" class="card mt-3">
                            <div class="card-header">Analysis Type</div>
                                <div class="card-body">
                                    {{ analysis_form.do_correlation_analysis }} {{ analysis_form.do_correlation_analysis.label_tag }}
                                    {{ analysis_form.do_de_analysis }} {{ analysis_form.do_de_analysis.label_tag }}
                                    <div class="text-danger mt-3 submission_alert" id="analysis_type_alert">
                                        <strong class="mx-2">Error!</strong> Please select an analysis type.
                                    </div>
                                </div>
                        </div>
                    </span>
                    <div id="percentile_div" class="card mt-3 de_option">
                        <div class="card-header">Percentile</div>
                            <div class="card-body">
                                {{ analysis_form.percentile.label_tag }}
                                <div class="mt-3">{{ analysis_form.percentile }}</div>
                            </div>
                    </div>
                    <div id="rna_species" class="card mt-3 mb-3 de_option">
                        <div class="card-header">RNA Species to Analyse</div>
                            <div class="card-body">
                                {{ analysis_form.rna_species }}
                                <div class="text-danger mt-3 submission_alert" id="rna_species_alert">
                                    <strong class="mx-2">Error!</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="submission_and_loading_container" class="mt-3 row ms-3 justify-content-md-center">
                        <input type="submit" id="submit_req" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>  
    </main>
	<script>
        $(document).ready(function() {
            $("[data-toggle=popover]").popover();
        });

        //  <strong class="mx-2 row  justify-content-md-center">{{ analysis_form.errors.as_data.values }}!</strong>

        // analysis type choice
        const correlation_checkbox = document.getElementById("correlation_checkbox")

        // rna species choice
        const rna_species_choices = document.getElementById("rna_species_choices")

        const script_choice = document.getElementById("script_choice")

        script_choice.addEventListener("change", () => {rna_species_alert.style.display = 'none'})

        function trigger_de_checkbox() {
            show_de_options();
            document.getElementById("analysis_type_alert").style.display = "none";
        }

        const de_checkbox = document.getElementById("de_checkbox")
        de_checkbox.addEventListener("change", () => {trigger_de_checkbox()})

        // Disable the "Select an option" option in the rna_species dropdown
        $("#rna_species_choices").change(function() {
            $("option[value='']").prop("disabled", true);
            rna_species_alert.style.display = 'none'
        });

        const composite_analysis_choice = document.getElementById("composite_analysis_choice")
        composite_analysis_choice.addEventListener("change", change_goi_analysis)

        $('#gene_selected').on('select2:opening', function (e) {
            if (($('#gene_selected').val().length === 1 && composite_analysis_choice.value === "Single") ||
            ($('#gene_selected').val().length === 2 && composite_analysis_choice.value === "Ratio") ||
            ($('#gene_selected').val().length === 5 && composite_analysis_choice.value === "Multi")) {
                e.preventDefault();
                // how do I fetch the cursor?
                // e.target.style.cursor // does not work
            }
        })
        $('#gene_selected').on('change', function (e) {goi_alert.style.display = 'none'})

        $("#composite_analysis_choice").change(function() {
            $("option[value='']").prop("disabled", true);
        });

        function enable_analysis_form() {
            const analysis_type = document.getElementById('analysis_type')
            analysis_type.style.pointerEvents = 'auto';
            analysis_type.style.filter = "brightness(1)";
            document.getElementById('analysis_type_span').style.cursor = "default";
        }

        function disable_analysis_form() {
            const analysis_type = document.getElementById('analysis_type')
            analysis_type.style.pointerEvents = 'none';
            analysis_type.style.filter = "brightness(0.7)";
            document.getElementById('analysis_type_span').style.cursor = "not-allowed";
        }

        // we should also make it such that choosing "multi" or "ratio" analysis forcibly selects
        // DE analysis and removes the "Analysis Type" section.
        function change_goi_analysis() {
            goi_alert.style.display = 'none'
            if (composite_analysis_choice.value === "Single") {
                // DELETE EVERY GOI EXCEPT FIRST 1
                while ($('#gene_selected').val().length > 1) {
                    $('#gene_selected option:eq(1)').remove();
                }

                // same as the bottom when forcing the DE analysis, except we are reversing it here
                de_checkbox.checked = false
                trigger_de_checkbox()

                // re-enabling changing analysis type form
                enable_analysis_form()
            } else {
                if (composite_analysis_choice.value === "Ratio") {
                    // REMOVING EXCESS GOIS, KEEPING FIRST 2
                    while ($('#gene_selected').val().length > 2) {
                        $('#gene_selected option:eq(2)').remove();
                    }
                }

                // forcibly select DE analysis and unchecking correlation and prevent modifications to the Analysis section
                
                correlation_checkbox.checked = false
                de_checkbox.checked = true
                trigger_de_checkbox()

                // disabling changing analysis type form
                disable_analysis_form()
            }
        }

        const percentile_textbox = document.getElementById("percentile_value")

        function show_de_options() {
            const myElements = document.querySelectorAll(".de_option");
            if (de_checkbox.checked) {
                percentile_value.required = true;
                rna_species_choices.required = true;
                for (let i = 0; i < myElements.length; i++) {
                    myElements[i].style.display = "block";
                }
            } else {
                // bringing back default values
                percentile_value.required = false;
                rna_species_choices.required = false;
                rna_species_alert.style.display = 'none'

                percentile_textbox.value = ""
                rna_species_choices.selectedIndex = 0

                for (let i = 0; i < myElements.length; i++) {
                    myElements[i].style.display = "none"
                }
            }
        }

        $('#input_form').submit(function(e) {
            if ($('.validate-checkbox:checked').length === 0) {
                document.getElementById("analysis_type_alert").innerHTML = '<strong class="mx-2">Error!</strong> Please select an analysis type.'
                document.getElementById("analysis_type_alert").style.display = "block";
                e.preventDefault();
            } else if  ($('.validate-checkbox:checked').length === 2) {
                document.getElementById("analysis_type_alert").innerHTML = '<strong class="mx-2">Error!</strong> Cannot select both analysis simultaneously.'
                document.getElementById("analysis_type_alert").style.display = "block";
                e.preventDefault();
            } else {
                document.getElementById("analysis_type_alert").style.display = "none";
            }

            const goi_alert = document.getElementById('goi_alert')
            if ($('#gene_selected').val().length === 1 && (composite_analysis_choice.value === "Multi")) {
                goi_alert.innerHTML = '<strong class="mx-2">Error!</strong> Please enter at least 2 Genes.'
                goi_alert.style.display = 'block'
                e.preventDefault();
            } else if ($('#gene_selected').val().length === 1 && (composite_analysis_choice.value === "Ratio")) {
                goi_alert.innerHTML = '<strong class="mx-2">Error!</strong> Please enter 2 Genes.'
                goi_alert.style.display = 'block'
                e.preventDefault();
            }

            const rna_species_alert = document.getElementById('rna_species_alert')
            if (de_checkbox.checked === true && ((script_choice.value === "GTEx" || script_choice.value === "RECOUNT3") && rna_species_choices.value !== "mRNA")) {
                rna_species_alert.innerHTML = '<strong class="mx-2">Error!</strong>'.concat(script_choice.value).concat(" script does not support anything other than mRNA.")
                rna_species_alert.style.display = 'block'
                e.preventDefault();
            }
        });
    </script>
  </body>
</html>
