<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submit Analysis </title>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'analysis/submission_style.css' %}">
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {{ analysis_form.media }}
  </head>
  <body>
    <main>
        <div class="text-center mt-3 mb-3">
            <img class="img-fluid" src="{% static 'icons/TRANSECT_te_sm_t.png' %}">
        </div>
        <div class="container">
            <div id="input_args">
                <form id="input_form" method="POST">
                    {% csrf_token %}
                    <div id="select_script" class="card mt-3">
                        <div class="card-header">Select Cohort Source Repository</div>
                        <div class="card-body">
                            <p>{{ analysis_form.script_type }}</p>
                        </div>
                    </div>
                    <div id="select_project" class="card mt-3">
                        <div class="card-header">
                            <p style="display: inline;">Select Cancer or Tissue Type</p>
                            <a href="{% static 'manual/All_Study_Abbreviations.pdf' %}" target="_blank" title="DB Info">
                            <img src="{% static 'icons/info-circle.svg' %}" alt="DB Info" class="icon mb-1">
                        </a></div>
                        <div class="card-body">
                            {{ analysis_form.project }}
                            {{ analysis_form.project.media }}
                        </div>
                    </div>
                    <div id="goi_settings" class="card mt-3">
                        <div class="card-header">Select Analysis Mode and Gene(s) of Interest</div>
                            <div class="card-body">
                                {{ analysis_form.composite_analysis_type }}
                                {{ analysis_form.gene_selected }}
                                <div class="text-danger mt-3 submission_alert" id="goi_alert">
                                    <strong class="mx-2">Error!</strong> Please enter at least 2 Genes.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="percentile_div" class="card mt-3">
                        <div class="card-header">Select stratification threshold</div>
                            <div class="card-body">
                                {{ analysis_form.percentile.label_tag }}
                                <div class="mt-3">{{ analysis_form.percentile }}</div>
                            </div>
                    </div>
                    <div id="optional_parameters" class="card mt-3 mb-3">
                        <div class="card-header">Optional Parameters</div>
                            <div class="card-body">
                                <div id="perform_correlation_analysis">
                                    {{ analysis_form.do_correlation_analysis }} {{ analysis_form.do_correlation_analysis.label_tag }}
                                </div>
                                <div id="use_mirna_button_div">
                                    {{ analysis_form.use_mirna }} {{ analysis_form.use_mirna.label_tag }}
                                </div>
                                <div id="switch_stratum_button_div">
                                    {{ analysis_form.switch_stratum }} {{ analysis_form.switch_stratum.label_tag }}
                                </div>
                                <div id="display_gsea_button_div">
                                    {{ analysis_form.display_gsea }} {{ analysis_form.display_gsea.label_tag }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="submission_and_loading_container" class="d-flex row mt-3 justify-content-md-center">
                        {% if analysis_form.errors %}
                            {% for error_list in analysis_form.errors.values %}
                                {% for error in error_list %}
                                    <strong class="d-flex column justify-content-md-center text-danger">{{ error }}</strong>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        <div id="submission_button_container" class="d-flex column mt-3 justify-content-md-center">
                            <input type="submit" id="submit_req" class="btn btn-primary me-3">
                            <input type="button" value="Demo" id="demo_button" class="btn btn-secondary ms-3" style="width: 200px;">
                        </div>
                    </div>
                </form>
            </div>
            <div class="text-center mt-3 mb-3">
                <p>Need help? See the <a href="{% url 'analysis-view-manual' %}" target="_blank">TRANSECT command line manual</a> for comprehensive details.</p>
            </div>
        </div>  
    </main>
	<script>
        $(document).ready(function() {
            $("[data-toggle=popover]").popover();
        });

        // analysis type choice
        const correlation_checkbox = document.getElementById("correlation_checkbox")
        correlation_checkbox.addEventListener("change", () => {trigger_corr_checkbox()})
        const percentile_value = document.getElementById("percentile_value")

        const demo_button = document.getElementById("demo_button")

        // do not use required=True in Django, otherwise it will permanently want it to have a value
        percentile_value.required = true;

        function trigger_corr_checkbox() {
            if (correlation_checkbox.checked) {
                percentile_value.required = false;
            } else {
                percentile_value.required = true;
            }
        }

        function delete_all_gois() {
            const gene_selected = $('#gene_selected')
            for (let i = 0; i < gene_selected[0].getElementsByTagName("option").length; i++) {
                gene_selected[0].getElementsByTagName("option")[0].remove()
                $('#gene_selected option:eq(0)').remove();
            }
        }

        // rna species choice
        // also getting its respective label
        const use_mirna_checkbox = document.getElementById("use_mirna_checkbox")

        // disabled at the start since no script option chosen
        use_mirna_checkbox.disabled = true;
        use_mirna_checkbox.checked = false;

        // clear gois whenever use_mirna_checkbox is clicked
        use_mirna_checkbox.addEventListener("change", () => { delete_all_gois() })

        const script_choice = document.getElementById("script_choice")

        script_choice.addEventListener("change", () => {
            $("[name='project']").empty(); // in jquery, can fetch attribute in this manner
            // remember, we cannot use ID in conjunction with the forward widget in dal
            // as it will not work

            // also disable use_mirna_checkbox if not using GDC
            if (script_choice.value === "GDC") {
                use_mirna_checkbox.disabled = false;
            } else {
                // add an additional check here, to see if the use_mirna_checkbox was checked, if so, remove the gois
                if (use_mirna_checkbox.checked === true) {
                    delete_all_gois()
                }
                use_mirna_checkbox.disabled = true;
                use_mirna_checkbox.checked = false;
            }
        })

        const composite_analysis_choice = document.getElementById("composite_analysis_choice")
        composite_analysis_choice.addEventListener("change", change_goi_analysis)

        // preventing additional genes being added depending on the length and composite_analysis_choice
        $('#gene_selected').on('select2:opening', function (e) {
            if (($('#gene_selected').val().length === 1 && composite_analysis_choice.value === "Single") ||
            ($('#gene_selected').val().length === 2 && composite_analysis_choice.value === "Ratio") ||
            ($('#gene_selected').val().length === 5 && composite_analysis_choice.value === "Additive")) {
                e.preventDefault();
                // how do I fetch the cursor?
                // e.target.style.cursor // does not work
            }
        })
        $('#gene_selected').on('change', function (e) {
            goi_alert.style.display = 'none'; 
            if ($('#gene_selected').val().length === 0) {
                // The selected gene does not go away from the below invisible tag
                // Hence, rea-adding the same genes in a different order will
                // Result in the original order being displayed instead
                // Hence have to remove manually to ensure this does not happen
                $('#gene_selected')[0].getElementsByTagName("option")[0].remove()
            } else {
                for (let i = 0; i < $('#gene_selected')[0].getElementsByTagName("option").length; i++ ) {
                    const gene_options = $('#gene_selected')[0].getElementsByTagName("option")[i].value
                    if ($('#gene_selected').val().includes(gene_options) === false) {
                        $('#gene_selected')[0].getElementsByTagName("option")[i].remove()
                        break
                    }
                }
            }
        })

        $("#composite_analysis_choice").change(function() {
            $("option[value='']").prop("disabled", true);
        });

        // ALSO DISABLE/ENVABLE CORRELATION ANALYSIS CHECKBOX
        function change_goi_analysis() {
            goi_alert.style.display = 'none'
            if (composite_analysis_choice.value === "Single") {
                // DELETE EVERY GOI EXCEPT FIRST 1
                while ($('#gene_selected').val().length > 1) {
                    $('#gene_selected')[0].getElementsByTagName("option")[1].remove()
                    $('#gene_selected option:eq(1)').remove();
                }

                correlation_checkbox.disabled = false
                trigger_corr_checkbox() // so we can make percentile required/not required
            } else {
                if (composite_analysis_choice.value === "Ratio") {
                    // REMOVING EXCESS GOIS, KEEPING FIRST 2
                    while ($('#gene_selected').val().length > 2) {
                        // when you select an element initially, a new "select" tag is created for that item
                        // and appended to the dom for the gene_selected object.
                        // even if you delete an object, it will stay there as a select tag
                        // hence, need to also remove that object from the dom
                        // this is such that lets say you add GATA2 and ZEB1
                        // if you delete GATA2 and then ZEB1 and then add ZEB1 and GATA2
                        // it will not reverse the order as the GATA2 select object no longer preceeds ZEB1
                        $('#gene_selected')[0].getElementsByTagName("option")[2].remove()
                        $('#gene_selected option:eq(2)').remove();
                    }
                }
                
                correlation_checkbox.checked = false
                trigger_corr_checkbox()
                correlation_checkbox.disabled = true
            }
        }

        $('#input_form').submit(function(e) {
            const goi_alert = document.getElementById('goi_alert')
            if ($('#gene_selected').val().length === 1 && (composite_analysis_choice.value === "Additive")) {
                goi_alert.innerHTML = '<strong class="mx-2">Error!</strong> Please enter at least 2 Genes.'
                goi_alert.style.display = 'block'
                e.preventDefault();
            } else if ($('#gene_selected').val().length === 1 && (composite_analysis_choice.value === "Ratio")) {
                goi_alert.innerHTML = '<strong class="mx-2">Error!</strong> Please enter 2 Genes.'
                goi_alert.style.display = 'block'
                e.preventDefault();
            }
        });

        // demo button
        demo_button.addEventListener("click", async () => {
            // re-enable mirna checkbox
            script_choice.value = "GDC"
            use_mirna_checkbox.disabled = false
            use_mirna_checkbox.checked = false
            
            // will need to trigger cleaning function as well
            // re-enable correlation checkbox and make percentile value required again
            composite_analysis_choice.value = "Single"
            correlation_checkbox.disabled = false
            correlation_checkbox.checked = false
            trigger_corr_checkbox() // to make percentile value required since correlation_checkbox is not ticked

            // programatically bypassing the server submission, etc
            // for the value, it needs to match the ID of the item inside the search model
            // need to clear all added options and also

            const id_project = $('#id_project');
            for (let i = 0; i < id_project[0].getElementsByTagName("option").length; i++) {
                id_project[0].getElementsByTagName("option")[0].remove()
                $('#id_project option:eq(0)').remove();
            }

            const newOption = new Option("PRAD", "PRAD_GDC", false, true);
            id_project.append(newOption);

            // clearing gois
            delete_all_gois()

            const gene_selected = $('#gene_selected')
            new_option = new Option("ZEB1", "ZEB1", false, false);
            gene_selected.append(new_option)
            gene_selected.val("ZEB1").trigger('change')
            
            percentile_value.value = 2

            const switch_stratum_checkbox = document.getElementById("switch_stratum_checkbox")
            switch_stratum_checkbox.checked = false

            const display_gsea_checkbox = document.getElementById("display_gsea_checkbox")
            display_gsea_checkbox.checked = true;
        })

    </script>
  </body>
</html>
