<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TRANSECT</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <style>
        html, body {
            overflow-x: hidden; /* Prevent horizontal scroll */
            margin: 0;
            padding: 0;
            width: 100%;
        }
    
        section {
            padding: 10px 0;
            width: 100%; /* Ensure sections take up full width */
        }
    
        .card-text {
            font-size: 1rem;
        }
    
        @media (min-width: 768px) {
            .card-text {
                font-size: 1.1rem;
            }
        }
    
        @media (min-width: 992px) {
            .card-text {
                font-size: 1.2rem;
            }
        }
    
        /* Footer styling */
        footer {
            background-color: #343a40;
            color: white;
            padding: 20px 0;
        }
        .footer-icons a {
            color: white;
            font-size: 1.5rem;
            margin: 0 10px;
            transition: color 0.3s ease;
            display: inline-block; /* Ensures proper alignment of icons */
        }

        .footer-icons a:hover {
            color: #007bff;
        }

        .footer-icons img.icon {
            width: 24px;
            height: 24px;
            vertical-align: middle;
            transition: transform 0.3s ease, filter 0.3s ease;
            filter: brightness(0) invert(1); /* Makes the icon white */
        }

        .footer-icons a:hover img.icon {
            filter: brightness(0) saturate(100%) invert(30%) sepia(100%) hue-rotate(190deg) saturate(600%); /* Makes the icon blue on hover */
        }
    </style>
</head>
<body>
    <!-- Main Image & Intro Text -->
    <section id="intro">
        <div class="container-lg">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8 text-center d-md-block">
                    <img class="img-fluid" src="{% static 'icons/TRANSECT_t.png' %}" alt="TRANSECT">
                    <div class="mt-4">
                        <a href="{% url 'analysis-submit' %}" target="_blank" class="btn btn-primary">Start Analysis</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Radio Toggle Buttons -->
    <div id="about_container" style="width: 100%;">
        <div class="mt-3 d-flex justify-content-center">
            <div class="btn-group" role="group" >
                <input type="radio" class="btn-check" name="about-btn" id="toggle_description" checked>
                <label class="btn btn-outline-primary" for="toggle_description">Description</label>
    
                <input type="radio" class="btn-check" name="about-btn" id="toggle_acknowledgement" >
                <label class="btn btn-outline-primary" for="toggle_acknowledgement">Acknowledgements</label>

                <input type="radio" class="btn-check" name="about-btn" id="toggle_news" >
                <label class="btn btn-outline-primary" for="toggle_news">News</label>
            </div>
        </div>

        <section class="bg-light mt-5">
            <div class="row my-5 align-items-center justify-content-center">
                <div class="col-12 col-md-12 col-lg-12 col-xl-6 mb-4 mb-xl-0" id="description_div">
                    <div class="card border-primary border-2">
                        <div class="card-header card-title text-center"><h3 class="mt-2">Description</h3></div>
                        <div class="card-body text-center py-5">
                            <p class="card-text mx-3 mx-md-5 text-muted">TRANSECT allows users to query large collections of cohort transcriptomic data to assess global gene expression changes given disparate expression of their gene (or genes) of interest. TRANSECT works by defining two groups within a cohort based solely on the expression of a gene or a gene set and subsequently compares the groups for global expression changes and functional differences. TRANSECT outputs descriptive statistics about the genes of interest followed by differential expression results and resulting matches to gene set collections.</p>
                            <p class="card-text mx-3 mx-md-5 text-muted">Please see the TRANSECT <a href="https://doi.org/10.1093/nargab/lqaf041">manuscript</a> for details and example case studies.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-12 col-xl-6 d-none" id="acknowledgements_div">
                    <div class="card border-primary border-2">
                        <div class="card-header card-title text-center"><h3 class="mt-2">Acknowledgements</h3></div>
                        <div class="card-body text-center py-5">
                            <p class="card-text mx-3 mx-md-5 text-muted">This application was supported by using the ARDC Nectar Research Cloud and by Internode. The ARDC Nectar Research Cloud is a collaborative Australian research platform supported by the NCRIS-funded Australian Research Data Commons (ARDC). Funding was provided by the Office of the Deputy Vice-Chancellor and Vice-President (Research), University of Adelaide.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-12 col-xl-6 d-none" id="news_div">
                    <div class="card border-primary border-2">
                        <div class="card-header card-title text-center"><h3 class="mt-2">News and Updates</h3></div>
                        <div class="card-body py-5">
                            <div class="card-text mx-3 mx-md-5 text-muted">
                                <div>
                                    <h4 class="fw-bold">Features Currently Under Development:</h4>
                                    <p class="mb-1"><span class="fw-bold">April 2025:</span></p>
                                    <ol>
                                        <li>Subset DBs by annotated molecular subtype for bespoke analysis</li>
                                        <li>Implementation of generalized linear models (GLMs) for DE tests</li>
                                        <li>Survival analysis on stratified participants</li>
                                        <li>G(s)OI web links to other popular web resources</li>
                                        <li>GTEx smRNA-seq data implementation and multi-modal analysis</li>
                                    </ol>
                                </div>
                                
                                <div class="mt-5">
                                    <h4 class="fw-bold">News:</h4>
                                    <ul>
                                        <li><span class="fw-bold">April 2025:</span> TRANSECT manuscript published in NAR Genomics and Bioinformatics</li>
                                        <li><span class="fw-bold">March 2025:</span> v25.03 code published on Zenodo (https://zenodo.org/records/15083663)</li>
                                        <li><span class="fw-bold">March 2025:</span> TRANSECT manuscript accepted, Initial version release (v25.03)</li>
                                        <li><span class="fw-bold">October 2024:</span> TRANSECT manuscript submitted</li>
                                    </ul>
                                </div>

                                <div class="mt-5">
                                    <h4 class="fw-bold">Update History:</h4>
                                    <ul>
                                        <li><span class="fw-bold">April 2025:</span> GTEx data update – V8 to V10</li>
                                        <li><span class="fw-bold">March 2025:</span> Major update and initial release (v25.03)</li>
                                        <li><span class="fw-bold">February 2025:</span> Updates to web app from reviewer comments</li>
                                        <li><span class="fw-bold">August 2024:</span> Major updates released (landing page, html figures, GSEA option)</li>
                                        <li><span class="fw-bold">February 2024:</span> Minimal Working Product released (v24.03)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer Section -->
    <footer class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 footer-icons">
                    <!-- GitHub Icon -->
                    <a href="https://github.com/twobeers75/TRANSECT" target="_blank" title="GitHub">
                        <img src="{% static 'icons/github.svg' %}" alt="GitHub" class="icon">
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <p class="mb-0">&copy; 2024 TRANSECT. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        // Toggle visibility between Description and Acknowledgements
        const toggle_description = document.getElementById("toggle_description");
        const toggle_acknowledgement = document.getElementById("toggle_acknowledgement");
        const toggle_news = document.getElementById("toggle_news");

        toggle_description.addEventListener('click', () => {
            document.getElementById("description_div").classList.remove("d-none");
            document.getElementById("acknowledgements_div").classList.add("d-none");
            document.getElementById("news_div").classList.add("d-none");
        });

        toggle_acknowledgement.addEventListener('click', () => {
            document.getElementById("description_div").classList.add("d-none");
            document.getElementById("acknowledgements_div").classList.remove("d-none");
            document.getElementById("news_div").classList.add("d-none");
        });

        toggle_news.addEventListener('click', () => {
            document.getElementById("description_div").classList.add("d-none");
            document.getElementById("acknowledgements_div").classList.add("d-none");
            document.getElementById("news_div").classList.remove("d-none");
        });
    </script>
</body>
</html>
