<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'analysis/results_style.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/datatables.min.js' %}"></script> 
    <script src="{% static 'js/plotly-latest.min.js' %}" charset="UTF-8"></script> 
  </head>
  <body>
    <div class="container" id="view_loading_container">
        <div class="ml-3 mt-3 row justify-content-md-center" id="view_loading_div">
          <div class="col-auto">
            <div class="spinner-border" id="view_loading_spinner" role="status">
                <span class="sr-only"></span>
            </div>
          </div>
          <div class="col-auto">
              <div id="request_status" class="ml-2 pt-1">
                  Processing your request
              </div>
          </div>
        </div>
    </div>
    <div class="container" style="width: 100vw; height: 100vh;">
      {% if analysis_type == "Correlation" %}
        {% include 'analysis/correlation_analysis_view.html' %}
      {% else %}
        {% include 'analysis/de_analysis_view.html' %}
      {% endif %}
    </div>
    <div id="image_modal" class="modal fade" tabindex="-1" aria-labelledby="modal_title" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal_title">Stiuff</h5>
            <button class="btn btn-secondary ms-3" style="color: black;" id="modal_download"><img src="{% static 'icons/download.svg' %}" class="mb-1 me-2">Download</button>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img class="modal-image" id="modal_image" src="" height="100%" width="100%">
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    // if having issues with the negative values in plotly: https://github.com/plotly/plotly.js/issues/5327
    const image_modal = document.getElementById("image_modal")

    const settings_content = document.getElementById("analysis_settings_content").getElementsByTagName("p")[0]

    const modal_download = document.getElementById("modal_download")
    modal_download.addEventListener('click', () => {
      var dummyElement = document.createElement("a");
      dummyElement.href = modal_download.href // Replace "path_to_your_file" with the URL or file path you want to download
      dummyElement.download = dummyElement.href.split("/")[dummyElement.href.split("/").length - 1]; // Replace "filename" with the desired name of the downloaded file
      document.body.appendChild(dummyElement);
      dummyElement.click();
      document.body.removeChild(dummyElement);
    })

    function get_gois() {
      let goi_list = []
      {% for goi in gois %}
        goi_list.push('{{goi}}')
      {% endfor %}
      return goi_list
    }

    async function display_gsea_results(analysis) {
      const gsea_url_base = "{{ MEDIA_URL }}/media/".concat(analysis).concat("/GSEA")

      const gsea_loading_div = document.getElementById("gsea_loading_div")
      gsea_loading_div.style.display = "none"

      try {
        const json_response = await fetch_response("{% url 'fetch-gsea-summary' analysis_id=analysis %}")

        document.getElementById("gsea_hallmark_report").href = gsea_url_base.concat("/").concat(json_response.hallmark_report_root).concat("/index.html")
        document.getElementById("gsea_curated_report").href = gsea_url_base.concat("/").concat(json_response.curated_report_root).concat("/index.html")

        const data = [{
          type: 'bar',
          x: json_response.x,
          y: json_response.y,
          hovertemplate: '<b>X</b>: %{x}<br><extra></extra>',
          orientation: 'h'
        }];
        const layout = {
          margin: {l: 600} ,// use it to adjust space for the margins
          autosize: true
        }
        const config = {responsive: true} // size of graph automatically changes when size of view changes
        Plotly.newPlot('de_gsea_summary', data, layout, config);
        // forcing a 'resize' event without any changes to the dimensions, 
        // to force the graph to adopt the size we want (since the graph has display of none, it will look very weird at the start)
        setTimeout(()=> {window.dispatchEvent(new Event('resize'));}, 0.1);
      } catch (exception) {
        throw new Error(exception)
      }

      const gsea_content = document.getElementById("gsea_content")
      gsea_content.style.display = "block"

      document.getElementById("download_de_div").style.display = "block"
    }

    async function display_de_analysis_results(analysis) {
      const gois = get_gois();
      const results_header = document.getElementById("results_header")
      const gois_header = '{{ composite_analysis_type }}' === "Additive" ? gois.join("+") : gois.join("/")
      results_header.innerHTML = '{{ composite_analysis_type }}'.concat(" Differential Analysis: ").concat(gois_header)
      results_header.style.display = "block"

      settings_content.innerHTML = `<strong>Analysis Hash: </strong>{{ analysis }}</br>
      <strong>Script: </strong> {{ script }} </br>
      <strong>Project: </strong> {{ project }} </br>
      <strong>Genes of Interest: </strong> {{ gois }} </br>
      <strong>Analysis Type: </strong> {{ analysis_type }} </br>
      <strong>Composite Analysis Choice: </strong> {{ composite_analysis_type }} </br>
      <strong>Percentile: </strong> {{ percentile }}% </br>
      <strong>RNA Species: </strong> {{ rna_species }} </br>
      `

      document.getElementById("de_view_container").style.display = "block"
      console.log("Hi")

      const de_url_base = "{{ MEDIA_URL }}/media/".concat(analysis).concat("/DE_Analysis/").concat(gois.join("-"))

      const de_url_glimma_base = "{{ MEDIA_URL }}/media/".concat(analysis).concat("/DE_Analysis/glimma-plots/").concat(gois.join("-"))
      const de_url_volcano = de_url_glimma_base.concat("-High_Vs_Low-Volcano.html")
      const de_url_mds_plot = de_url_glimma_base.concat("-MDS-Plot.html")

      document.getElementById("n_t_boxplot_image_title").innerHTML = gois.join("-").concat("_TPM_N-T_boxplot.svg")
      document.getElementById("strat_boxplot_image_title").innerHTML = gois.join("-").concat("_TPM_strat_boxplot.svg")

      const n_t_boxplot_image = document.getElementById("n_t_boxplot_image")
      const strat_boxplot_image = document.getElementById("strat_boxplot_image")
      const analysis_specific_image = document.getElementById("analysis_specific_image")
      
      n_t_boxplot_image.src = de_url_base.concat("_TPM_N-T_boxplot.svg")
      n_t_boxplot_image.addEventListener('click', () => {
        image_modal.getElementsByClassName("modal-title")[0].innerHTML = gois.join("-").concat("_TPM_N-T_boxplot.svg")
        image_modal.getElementsByClassName("modal-image")[0].src = n_t_boxplot_image.src
        modal_download.href = n_t_boxplot_image.src
        $("#image_modal").modal('show');
      })

      strat_boxplot_image.src = de_url_base.concat("_TPM_strat_boxplot.svg")
      strat_boxplot_image.addEventListener('click', () => {
        image_modal.getElementsByClassName("modal-title")[0].innerHTML = gois.join("-").concat("_TPM_strat_boxplot.svg")
        image_modal.getElementsByClassName("modal-image")[0].src = strat_boxplot_image.src
        modal_download.href = strat_boxplot_image.src
        $("#image_modal").modal('show');
      })

      const composite_analysis_type = '{{ composite_analysis_type }}'
      const composite_analysis_plot = (composite_analysis_type === "Additive") ? "_TPM_Boxplot_Sina.svg" : (composite_analysis_type === "Ratio") ? "_TPM_Scatter.svg" : "_TPM_histogram.svg"
      document.getElementById("analysis_specific_image_title").innerHTML = gois.join("-").concat(composite_analysis_plot)

      analysis_specific_image.src = de_url_base.concat(composite_analysis_plot)
      analysis_specific_image.addEventListener('click', () => {
        image_modal.getElementsByClassName("modal-title")[0].innerHTML = gois.join("-").concat(composite_analysis_plot)
        image_modal.getElementsByClassName("modal-image")[0].src = analysis_specific_image.src
        modal_download.href = analysis_specific_image.src
        $("#image_modal").modal('show');
      })

      document.getElementById("download_de").addEventListener('click', () => {
        try {
          download_single_analysis(analysis)
        } catch (exception) {
          final_message = exception
          error = true
        }
      })
      document.getElementById("de_volcano").src = de_url_volcano
      document.getElementById("de_mds").src = de_url_mds_plot

      const toggle_de_summary = document.getElementById("toggle_de_summary")
      toggle_de_summary.addEventListener('click', () => {
        document.getElementById("de_summary_div").style.display = "block";
        document.getElementById("de_volcano_div").style.display = "none";
        document.getElementById("de_mds_div").style.display = "none";
        document.getElementById("de_gsea_div").style.display = "none";
      })

      const toggle_de_volcano = document.getElementById("toggle_de_volcano")
      toggle_de_volcano.addEventListener('click', () => {
        document.getElementById("de_summary_div").style.display = "none";
        document.getElementById("de_volcano_div").style.display = "block";
        document.getElementById("de_mds_div").style.display = "none";
        document.getElementById("de_gsea_div").style.display = "none";
      })

      const toggle_de_mds = document.getElementById("toggle_de_mds")
      toggle_de_mds.addEventListener('click', () => {
        document.getElementById("de_summary_div").style.display = "none";
        document.getElementById("de_volcano_div").style.display = "none";
        document.getElementById("de_mds_div").style.display = "block";
        document.getElementById("de_gsea_div").style.display = "none";
      })

      const toggle_gsea_summary = document.getElementById("toggle_gsea_summary")
      toggle_gsea_summary.addEventListener('click', () => {
        document.getElementById("de_summary_div").style.display = "none";
        document.getElementById("de_volcano_div").style.display = "none";
        document.getElementById("de_mds_div").style.display = "none";
        document.getElementById("de_gsea_div").style.display = "block";
        // since the plot has a display of none at the start, the initial resize
        // will not trigger, need to do it manually
        setTimeout(()=> {window.dispatchEvent(new Event('resize'));}, 0.1);
      })
    }

    async function display_correlation_analysis_results(analysis) {
      const gois = get_gois()
      const goi = gois[0]

      settings_content.innerHTML = `<strong>Analysis Hash: </strong>{{ analysis }}</br>
      <strong>Script: </strong> {{ script }} </br>
      <strong>Project: </strong> {{ project }} </br>
      <strong>Genes of Interest: </strong> {{ gois }} </br>
      `

      const results_header = document.getElementById("results_header")
      results_header.innerHTML = "Correlation Analysis: ".concat(goi)
      results_header.style.display = "block"

      document.getElementById("correlation_view_container").style.display = "block"
      const correlation_volcano_image = document.getElementById("correlation_volcano_image")

      let json_response;
      try {
        json_response = await fetch_response("{% url 'get-pearsons-correlation-plot-points' analysis_id=analysis %}")
      } catch (exception) {
        throw new Error(exception)
      }

      let hovertext = '<b>Gene 2</b>: %{customdata}<br>'
      hovertext = hovertext.concat('<b>logExp_Cor</b>: %{x}<br>')
      hovertext = hovertext.concat('<b>logExp_FDR</b>: %{y}<br>')
      hovertext = hovertext.concat('<extra></extra>')

      const data = [{
        mode: 'markers',
        type: 'scatter',
        x: json_response.logExp_Cor,
        y: json_response.logExp_FDR,
        customdata: json_response.gene2,
        hovertemplate: hovertext,
        orientation: 'h',
        marker: { size: 4, color: json_response.colors } // keeping size equal, as plotly is struggling with too much data
      }];
      const layout = {
        title: "Pearson's Correlations",
        xaxis: {title: 'R', range: [-1.05 ,1.05] }, // safe values for ranges, as correlation should never exceed/go below +-1 respectively
        yaxis: {title: '-log10(FDR)'},
        hoverlabel: { bgcolor: "white" },
        margin: {l: 60} ,// use it to adjust space for the margins
        autosize: true
      }
      const config = {responsive: true} // size of graph automatically changes when size of view changes
      Plotly.newPlot('correlation_volcano_graph', data, layout, config);
      setTimeout(()=> {window.dispatchEvent(new Event('resize'));}, 0.1);

      document.getElementById("download_correlation").addEventListener('click', () => {
        try {
          download_single_analysis(analysis)
        } catch (exception) {
          final_message = exception
          error = true
        }
      })

      correlation_comparison_table_body = document.getElementById("correlation_comparison_table").getElementsByTagName("tbody")[0]

      let json_response_gene_expr;
      try {
        const json_response_gene_expr = await fetch_response("{% url 'fetch-high-corr-gene-exprs' analysis_id=analysis %}")
      } catch (exception) {
        throw new Error(exception)
      }
      alert(json_response_gene_expr)

      // finally fetching the tsv
      let correlation_comparisons;
      let last_plot_index;
      try {
        const json_response_correlation_comparisons = await fetch_response("{% url 'provide-correlation-comparisons' analysis_id=analysis %}")
        correlation_comparisons = json_response_correlation_comparisons.table_items
        last_plot_index = json_response_correlation_comparisons.last_plot_index
      } catch (exception) {
        throw new Error(exception)
      }

      // I think its best to put the "clickable" items at the top
      for (let i = 0; i < correlation_comparisons.length; i++) {
        const newRecord = document.createElement("tr");
        // last item is the respective plot media path
        let gene_of_comparison = correlation_comparisons[i][0];
        for (let j = 0; j < correlation_comparisons[i].length; j++) {
          const newField = document.createElement("td");
          newField.innerHTML = correlation_comparisons[i][j]
          newRecord.appendChild(newField)
        }

        // check if a plot here exists, and add the code below
        if (last_plot_index !== -1 && i <= last_plot_index) {
          newRecord.className = "inspectable_item"
          newRecord.addEventListener('click', () => {
            const img_url = "{{ MEDIA_URL }}/media/".concat(analysis).concat("/Corr_Analysis/plots/").concat(goi).concat("_").concat(gene_of_comparison).concat(".png")
            image_modal.getElementsByClassName("modal-title")[0].innerHTML = goi.concat(" vs ").concat(gene_of_comparison)
            image_modal.getElementsByClassName("modal-image")[0].src = img_url
            modal_download.href = img_url
            $("#image_modal").modal('show');
          })
          const graph_icon = new Image()
          graph_icon.src = "{% static 'icons/file-bar-graph.svg' %}"
          newRecord.getElementsByTagName("td")[0].className = "d-flex justify-content-between"
          newRecord.getElementsByTagName("td")[0].appendChild(graph_icon)
        }

        correlation_comparison_table_body.appendChild(newRecord)
      }

      // overriding default sorting order by the first column, allowing items with plots to be shown first
      $('#correlation_comparison_table').DataTable({"order": []}); 
    }

    async function fetch_response(url) {
      try {
        const response = await fetch(url)
        if (response.status !== 200) {
            throw new Error(` ${response.status}`)
        } 
        const json_response = await response.json()
        return json_response
      } catch (exception) {
        throw new Error(exception)
      }
    }

    async function download_single_analysis(analysis) {
      const url = "{% url 'analysis-download' analysis_id=analysis %}"
      try {
        const response = await fetch(url)
        console.log(response)
        if (response.status !== 200) {
            throw new Error(` ${response.status} - ${response.error}`)
        }
        window.location.href = url;
      } catch (exception) {
        alert(exception)
        throw new Error(exception)
      }
    }

    // used by both to check if the analysis is fully complete
    // de_only is for checking only the de_part
    async function wait_for_analysis(analysis, de_only) {

      const url =  de_only === false ? "{% url 'check-fully-downloaded' analysis_id=analysis %}" : "{% url 'check-de-finished' analysis_id=analysis %}"

      function timeout(ms) { 
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      try {
        while (true) {
            const response = await fetch(url)
            if (response.status === 404) {
                throw new Error(` ${response.status} - Analysis not found`)
            }
            const json_response = await response.json()
            if (response.status !== 200) {
                throw new Error(` ${response.status} - ${json_response.error}`)
            } else {
              if (json_response.completed === true) break
            }
            await timeout(5000)
          }
      } catch (exception) {
        throw new Error(exception)
      }
    }

    async function fetch_all_analysis() {
      let error = false
      let final_message = ""

      // need to find a way to differentiate between DE and Correlation
      try {
        if ('{{ analysis_type }}' === "Correlation") {
          await wait_for_analysis('{{ analysis }}', false)
          display_correlation_analysis_results('{{ analysis }}')
        } else if ('{{ analysis_type }}' === "DE") {
          await wait_for_analysis('{{ analysis }}', true)
          display_de_analysis_results('{{ analysis }}')
        }
      } catch (exception) {
        final_message = exception
        error = true
      }

      if (error === false) final_message = "Finished"

      document.getElementById("view_loading_spinner").style.display = "none"
      document.getElementById("request_status").innerHTML = final_message

      if (error === true) return;

      document.getElementById("view_loading_div").style.display = "none"

      // if DE, still need to wait for gsea
      if ('{{ analysis_type }}' === "DE") {
        await wait_for_analysis('{{ analysis }}', false)
        display_gsea_results('{{ analysis }}')
      }
    }

    fetch_all_analysis()
  </script>
</html>