<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'analysis/results_style.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/datatables.min.js' %}"></script> 
  </head>
  <body>
        <div class="container" id="output_container">
            <div class="ml-3 mt-3 row justify-content-md-center" id="submission_loader">
              <div class="col-auto">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
              </div>
              <div class="col-auto">
                  <div id="request_status" class="ml-2 pt-1">
                      Processing your request
                  </div>
              </div>
            </div>
        </div>
        {% include 'analysis/correlation_analysis_view.html' %}
        <div id="image_modal" class="modal fade" tabindex="-1" aria-labelledby="modal_title" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal_title">Stiuff</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img class="modal-image" id="modal_image" src="" height="100%" width="100%">
              </div>
            </div>
          </div>
        </div>
  </body>
  <script>
    const image_modal = document.getElementById("image_modal")

    async function display_correlation_analysis_results(analysis) {
      const goi_url = "{% url 'fetch-gois' analysis_id=analysis %}";
      let gois;
      try {
        const json_response = await fetch_response(goi_url)
        gois = json_response.gois
      } catch (exception) {
        throw new Error(exception)
      }

      document.getElementById("correlation_view_container").style.display = "block"
      const correlation_volcano_image = document.getElementById("correlation_volcano_image")
      const volcano_url = "{{ MEDIA_URL }}/media/".concat(analysis).concat("/Corr_Analysis/").concat(gois).concat("_corr_volcano.png")
      correlation_volcano_image.src = volcano_url // will change this in the future to use media/
      correlation_volcano_image.addEventListener('click', () => {
        image_modal.getElementsByClassName("modal-title")[0].innerHTML = gois.concat("_corr_volcano.png")
        image_modal.getElementsByClassName("modal-image")[0].src = volcano_url
        $("#image_modal").modal('show');
      })

      document.getElementById("download_correlation").addEventListener('click', () => {
        try {
          download_single_analysis(analysis)
        } catch (exception) {
          final_message = exception
          error = true
        }
      })

      correlation_comparison_table_body = document.getElementById("correlation_comparison_table").getElementsByTagName("tbody")[0]

      console.log(correlation_comparison_table_body)

      // finally fetching the tsv
      let correlation_comparisons;
      try {
        const json_response = await fetch_response("{% url 'provide-correlation-comparisons' analysis_id=analysis %}")
        correlation_comparisons = json_response.table_items
      } catch (exception) {
        throw new Error(exception)
      }

      for (let i = 0; i < correlation_comparisons.length; i++) {
        const newRecord = document.createElement("tr");
        // last item is the respective plot media path
        let gene1 = correlation_comparisons[i][0];
        let gene2 = correlation_comparisons[i][1];
        for (let j = 0; j < correlation_comparisons[i].length; j++) {
          const newField = document.createElement("td");
          newField.innerHTML = correlation_comparisons[i][j]
          newRecord.appendChild(newField)
        }
        newRecord.className = "inspectable_item"
        newRecord.addEventListener('click', () => {
          const img_url = "{{ MEDIA_URL }}/media/".concat(analysis).concat("/Corr_Analysis/plots/").concat(gene1).concat("_").concat(gene2).concat(".png")
          image_modal.getElementsByClassName("modal-title")[0].innerHTML = gois.concat("_corr_volcano.png")
          image_modal.getElementsByClassName("modal-image")[0].src = img_url
          $("#image_modal").modal('show');
        })
        correlation_comparison_table_body.appendChild(newRecord)
      }

      $('#correlation_comparison_table').DataTable();
    }

    async function fetch_response(url) {
      try {
        const response = await fetch(url)
        if (response.status !== 200) {
            throw new Error(` ${response.status} - ${response.statusText}`)
        } 
        const json_response = await response.json()
        return json_response
      } catch (exception) {
        throw new Error(exception)
      }
    }

    // this function should also do something to verify nothing went wrong
    async function display_analysis(analysis) {
      const url = "{% url 'analysis-check-type' analysis_id=analysis %}";
      try {
        const json_response = await fetch_response(url)
        if (json_response.analysis_type === "Correlation") {
          display_correlation_analysis_results(analysis)
        } else if (json_response.analysis_type === "DE") {
          console.log("NOT IMPLEMENTED YET")
        }
      } catch (exception) {
        throw new Error(exception)
      }
    }

    async function download_single_analysis(analysis) {
      const url = "{% url 'analysis-download' analysis_id=analysis %}"
      alert(analysis)
      try {
        const response = await fetch(url)
        if (response.status !== 200) {
            throw new Error(` ${response.status} - ${response.statusText}`)
        }
        window.location.href = url;
      } catch (exception) {
        throw new Error(exception)
      }
    }

    async function wait_for_analysis(analysis) {
      const url = "{% url 'check-fully-downloaded' analysis_id=analysis %}"
      try {
        const response = await fetch(url)
        if (response.status !== 200) {
            throw new Error(` ${response.status} - ${response.statusText}`)
        }
      } catch (exception) {
        throw new Error(exception)
      }
    }

    async function fetch_all_analysis() {
      let error = false
      let final_message = ""

      // need to find a way to differentiate between DE and Correlation
      try {
        await wait_for_analysis('{{ analysis }}') // first instance to check if analysis finished
        display_analysis('{{ analysis }}')
      } catch (exception) {
        final_message = exception
        error = true
      }

      {% if analysis2 %}
        try {
          display_analysis('{{ analysis2 }}')
        } catch (exception) {
          final_message = exception
          error = true
        }
      {% endif %}

      if (error === false) final_message = "Finished"

      document.getElementsByClassName("spinner-border")[0].style.display = "none"
      document.getElementById("request_status").innerHTML = final_message

      if (error === true) return;

      document.getElementById("submission_loader").style.display = "none"
    }

    fetch_all_analysis()
  </script>
</html>