<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'analysis/results_style.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/datatables.min.js' %}"></script> 
    <script src="{% static 'js/plotly-latest.min.js' %}" charset="UTF-8"></script> 
  </head>
  <body>
    <div class="d-flex justify-content-center">
      <a href="{% url 'analysis-submit' %}" role="button" class="mt-4 me-4 btn btn-large" target="_blank">
        <img class="img-fluid" src="{% static 'icons/TRANSECT_te_sm_t.png' %}">
      </a>
    </div>
    <div class="container" id="view_loading_container">
        <div class="ml-3 mt-3 row justify-content-md-center" id="view_loading_div">
          <div class="col-auto">
            <div class="spinner-border" id="view_loading_spinner" role="status">
                <span class="sr-only"></span>
            </div>
          </div>
          <div class="col-auto">
              <div id="request_status" class="ml-2 pt-1">
                  Processing your request (roughly takes {{ expected_time }})
              </div>
          </div>
        </div>
    </div>
    <div class="container" style="width: 100vw; height: 100vh;">
      {% if analysis_type == "Correlation" %}
        {% include 'analysis/correlation_analysis_view.html' %}
      {% else %}
        {% include 'analysis/de_analysis_view.html' %}
      {% endif %}
    </div>
    <div id="image_modal" class="modal fade" tabindex="-1" aria-labelledby="modal_title" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal_title">Stiuff</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img class="modal-image" id="modal_image" src="" height="100%" width="100%" style="display: none;">
            <div id="modal_graph" style="height: 600px; width: 100%; display: none;"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>

    // enable tooltips
    let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    // if having issues with the negative values in plotly: https://github.com/plotly/plotly.js/issues/5327
    // const modal_download = document.getElementById("modal_download")
    const image_modal = document.getElementById("image_modal")

    $('#image_modal').on('hidden.bs.modal', function (e) {
      document.getElementById("modal_image").style.display = "none"; 
      document.getElementById("modal_graph").innerHTML = ""; 
      document.getElementById("modal_graph").style.display = "none"; 
    })

    // show is triggered at the start of an event
    // shown is triggered at the end of an event
    // need to do a resize event such that any graphs that were previously hidden
    // and hence will look weird upon a display = "block" are automatically resized
    // to fix the bug
    // done at the end as it will be after display="block" is done for the graph
    $('#image_modal').on('shown.bs.modal', function (e) { 
      setTimeout(()=> {window.dispatchEvent(new Event('resize'));}, 0.1);
    })

    const settings_content = document.getElementById("analysis_settings_content").getElementsByTagName("p")[0]


    // its better to create the download function on a modal "on the fly"
    // and then delete it when the modal gets deleted

   // const modal_download = document.getElementById("modal_download")
   // modal_download.addEventListener('click', () => {
   //   let dummyElement = document.createElement("a");
   //   dummyElement.href = modal_download.href // Replace "path_to_your_file" with the URL or file path you want to download
   //   dummyElement.download = dummyElement.href.split("/")[dummyElement.href.split("/").length - 1]; // Replace "filename" with the desired name of the downloaded file
   //   document.body.appendChild(dummyElement);
   //   dummyElement.click();
   //   document.body.removeChild(dummyElement);
   // })

    function get_gois() {
      let goi_list = []
      {% for goi in gois %}
        goi_list.push('{{goi}}')
      {% endfor %}
      return goi_list
    }

    async function display_gsea_results(analysis) {
      const gois = get_gois();
      const gsea_url_base = "{{ MEDIA_URL }}/media/".concat(analysis).concat("/GSEA")

      const gsea_loading_div = document.getElementById("gsea_loading_div")
      gsea_loading_div.style.display = "none"

      try {
        const json_response = await fetch_response("{% url 'fetch-gsea-summary' analysis_id=analysis %}")

        if ('{{ rna_species }}' === "mRNA") {
          document.getElementById("gsea_hallmark_report").href = gsea_url_base.concat("/").concat(json_response.hallmark_report_root).concat("/index.html")
          document.getElementById("gsea_curated_report").href = gsea_url_base.concat("/").concat(json_response.curated_report_root).concat("/index.html")
        } else {
          document.getElementById("gsea_mirna_inhouse_targetscan_report").href = gsea_url_base.concat("/").concat(json_response.inhouse_targetscan_report_root).concat("/index.html")
        }
        // document.getElementById("de_gsea_summary_image").src = gsea_url_base.concat("/").concat(gois.join("-")).concat("_Strat_Vs_Curated.html")
        
        if ("gsea_plotly_data" in json_response) {
          const gsea_plotly_data = json_response.gsea_plotly_data
          gsea_plotly_data.layout.yaxis.tickformatwidth=50
          const config = {responsive: true} // size of graph automatically changes when size of view changes
          // Create the plot
          Plotly.newPlot('de_gsea_summary_image', gsea_plotly_data.data, gsea_plotly_data.layout, config);
          setTimeout(()=> {window.dispatchEvent(new Event('resize'));}, 0.1);

          // in the plot there are 2 separate data arrays supplied for the bars
          // first one is for the positive values, second one is for the negative value
          // in the data when the points are combined, eg. the ticktext attribute
          // the negative stuff is displayed first and correspond to the order of
          // the y-labels in the plot from bottom to top
          // therefore we need to know how many negative items there are, so we
          // can correctly get the index of the positive items to fetch the correct
          // name from ticktext

          const gsea_summary_plot = document.getElementById("de_gsea_summary_image")
          let num_negative_offset = 0
          if (gsea_summary_plot.data.length === 2) num_negative_offset = gsea_summary_plot.data[1].x.length // second array contains the negative stuff

          gsea_summary_plot.on('plotly_click', function(data){
            let pointIndex = data.points[0].pointIndex 
            pointIndex = data.points[0].x > 0 ? pointIndex + num_negative_offset : pointIndex
            const pathway = data.points[0].yaxis.ticktext[pointIndex]
            if ('{{ rna_species }}' === "mRNA") {
              window.open(gsea_url_base.concat("/").concat(json_response.curated_report_root).concat("/").concat(pathway).concat(".html"), '_blank');
            } else {
              window.open(gsea_url_base.concat("/").concat(json_response.inhouse_targetscan_report_root).concat("/").concat(pathway).concat(".html"), '_blank');
            }
          });
        } else {
          const gsea_summary_plot = document.getElementById("de_gsea_summary_image")
          gsea_summary_plot.className = "d-flex flex-column align-items-center mt-3 mb-3"
          gsea_summary_plot.innerHTML = "Main GSEA plot not found."
        }

        // do not throw error, simply inform the user that the analysis has failed
      } catch (exception) {
        const gsea_reports = document.getElementById("gsea_reports");
        gsea_reports.remove();
        const gsea_summary_plot = document.getElementById("de_gsea_summary_image")
        gsea_summary_plot.className = "d-flex flex-column align-items-center mt-3 mb-3"
        gsea_summary_plot.innerHTML = "GSEA step failed."
      }

      const gsea_content = document.getElementById("gsea_content")
      gsea_content.style.display = "block"

      document.getElementById("download_de_div").style.display = "block"
    }

    async function display_de_analysis_results(analysis) {
      const gois = get_gois();
      const results_header = document.getElementById("results_header")
      const gois_header = '{{ composite_analysis_type }}' === "Additive" ? gois.join("+") : gois.join("%")
      results_header.innerHTML = '{{ composite_analysis_type }}'.concat(" Differential Analysis: ").concat(gois_header)
      results_header.style.display = "block"

      settings_content.innerHTML = `<strong>Analysis Hash: </strong>{{ analysis }}</br>
      <strong>Script: </strong> {{ script }} </br>
      <strong>Project: </strong> {{ project }} </br>
      <strong>Genes of Interest: </strong> {{ gois }} </br>
      <strong>Analysis Type: </strong> {{ analysis_type }} </br>
      <strong>Composite Analysis Choice: </strong> {{ composite_analysis_type }} </br>
      <strong>Percentile: </strong> {{ percentile }}% </br>
      <strong>RNA Species: </strong> {{ rna_species }} </br>
      <strong>Stratum Switched: </strong> {{ is_switch_stratum }} </br>
      `

      document.getElementById("de_view_container").style.display = "block"

      const de_url_base = "{{ MEDIA_URL }}/media/".concat(analysis).concat("/DE_Analysis/").concat(gois.join("-"))

      const de_url_glimma_base = "{{ MEDIA_URL }}/media/".concat(analysis).concat("/DE_Analysis/glimma-plots/").concat(gois.join("-"))
      const de_url_volcano = de_url_glimma_base.concat("-High_Vs_Low-Volcano.html")
      const de_url_mds_plot = de_url_glimma_base.concat("-MDS-Plot.html")

      document.getElementById("n_t_boxplot_image_title").innerHTML = gois.join("-").concat("_TPM_N-T_boxplot.svg")
      document.getElementById("strat_boxplot_image_title").innerHTML = gois.join("-").concat("_TPM_strat_boxplot.svg")


      // DELETE EVERYTHING BELOW STARTING FROM HERE
      const n_t_boxplot_image = document.getElementById("n_t_boxplot_image")
      const strat_boxplot_image = document.getElementById("strat_boxplot_image")
      const analysis_specific_image = document.getElementById("analysis_specific_image")
      
      n_t_boxplot_image.src = de_url_base.concat("_TPM_N-T_boxplot.html")

      strat_boxplot_image.src = de_url_base.concat("_TPM_strat_boxplot.html")

      const composite_analysis_type = '{{ composite_analysis_type }}'
      const composite_analysis_plot = (composite_analysis_type === "Additive") ? "_TPM_Boxplot_Sina.html" : (composite_analysis_type === "Ratio") ? "_TPM_Scatter.html" : "_TPM_histogram.html"
      document.getElementById("analysis_specific_image_title").innerHTML = gois.join("-").concat(composite_analysis_plot)

      analysis_specific_image.src = de_url_base.concat(composite_analysis_plot)

      document.getElementById("download_de").addEventListener('click', () => {
        try {
          download_single_analysis(analysis, '{{ display_gsea }}')
        } catch (exception) {
          final_message = exception
          error = true
        }
      })
      document.getElementById("de_volcano").src = de_url_volcano
      document.getElementById("de_mds").src = de_url_mds_plot

      const webgestalt_path = "{{ MEDIA_URL }}/media/".concat(analysis).concat("/DE_Analysis/WebGestalt/")

      // <div class="d-flex flex-column align-items-center">
      //     <h4 id="strat_boxplot_image_title" class="mt-3"></h4>
      //     <div id="strat_boxplot_div" style="height: 800px; width: 100%;">
      //         <iframe id="strat_boxplot_image" class="iframe_div"></iframe>
      //     </div>
      // </div>

      // display webgestalt plots (if they are there)
      // EDIT HERE
      const webgestalt_json_response = await fetch_response("{% url 'get-webgestalt-plots' analysis_id=analysis %}")
      const de_webgestalt_plots_div = document.getElementById("de_webgestalt_plots_div")
      if (webgestalt_json_response.webgestalt_plots_to_display.length === 0) {
        const nothing_div = document.createElement("div");
        nothing_div.className = "d-flex flex-column align-items-center mt-3 mb-3"
        nothing_div.innerHTML = "No WebGestalt plots Were found"
        de_webgestalt_plots_div.appendChild(nothing_div)
      } else {
        for (let i = 0; i < webgestalt_json_response.webgestalt_plots_to_display.length; i++) {
          let curr_webgestalt_item = webgestalt_json_response.webgestalt_plots_to_display[i]

          // main plot div
          const curr_webge_item = document.createElement("div");
          curr_webge_item.className = "d-flex flex-column align-items-center mt-3 mb-5"

          // title
          const curr_webge_plot_header = document.createElement("h4");
          curr_webge_plot_header.className = "mt-3"
          curr_webge_plot_header.id = curr_webgestalt_item.concat("_image_title")
          curr_webge_plot_header.style.textDecoration = "underline"

          const curr_webge_index = document.createElement("a");
          curr_webge_index.id = curr_webgestalt_item.concat("_index_link")
          curr_webge_index.innerHTML = curr_webgestalt_item
          curr_webge_index.href = "{{ MEDIA_URL }}/media/".concat(analysis).concat("/DE_Analysis/WebGestalt/Project_enrichDatabase").concat(curr_webgestalt_item).concat("/Report_enrichDatabase").concat(curr_webgestalt_item).concat(".html")
          curr_webge_index.target = "_blank" 
          curr_webge_index.rel = "noopener noreferrer"
          
          curr_webge_plot_header.appendChild(curr_webge_index)

          curr_webge_item.appendChild(curr_webge_plot_header)

          // plot div
          const curr_webge_plot_div = document.createElement("div");
          curr_webge_plot_div.id =  curr_webgestalt_item.concat("_plot_div")
          curr_webge_plot_div.style = "height: 400px; width: 100%;"

          // iframe
          const curr_webge_iframe = document.createElement("iframe");
          curr_webge_iframe.id = curr_webgestalt_item.concat("_image")
          curr_webge_iframe.className = "iframe_div de_webgestalt_iframe"

          curr_webge_plot_div.appendChild(curr_webge_iframe)
          curr_webge_item.appendChild(curr_webge_plot_div)

          de_webgestalt_plots_div.appendChild(curr_webge_item)
        }
      }
        

      let all_divs = []
      all_divs.push("de_summary_div")
      all_divs.push("de_volcano_div")
      all_divs.push("de_mds_div")
      all_divs.push("de_webgestalt_div")

      if ('{{ display_gsea }}' === "True") {
        all_divs.push("de_gsea_div")
      }

      function toggle_de_display(active_div, all_divs) {
        for (let i = 0; i < all_divs.length; i++) {
          if (all_divs[i] === active_div) {
            document.getElementById(active_div).style.display = "block";
          } else {
            document.getElementById(all_divs[i]).style.display = "none";
          }
        }
      }

      const toggle_de_summary = document.getElementById("toggle_de_summary")
      toggle_de_summary.addEventListener('click', () => {
        toggle_de_display("de_summary_div", all_divs)
      })

      const toggle_de_volcano = document.getElementById("toggle_de_volcano")
      toggle_de_volcano.addEventListener('click', () => {
        toggle_de_display("de_volcano_div", all_divs)
      })

      const toggle_de_mds = document.getElementById("toggle_de_mds")
      toggle_de_mds.addEventListener('click', () => {
        toggle_de_display("de_mds_div", all_divs)
      })

      const toggle_webgestalt_summary = document.getElementById("toggle_webgestalt_summary")
      toggle_webgestalt_summary.addEventListener('click', () => {
        toggle_de_display("de_webgestalt_div", all_divs)
        const webgestalt_iframes = document.querySelectorAll(".de_webgestalt_iframe")
        webgestalt_iframes.forEach((webgestalt_iframe) => {
          if (!webgestalt_iframe.getAttribute("src")) {
            const curr_webgestalt_item =  webgestalt_iframe.id.replace("_image", "")
            webgestalt_iframe.src = "{{ MEDIA_URL }}/media/".concat('{{ analysis }}').concat("/DE_Analysis/WebGestalt/Project_enrichDatabase").concat(curr_webgestalt_item).concat("/Summary_enrichDatabase").concat(curr_webgestalt_item).concat(".html")
          }
        })
      })

      if ('{{ display_gsea }}' === "True") {
        const toggle_gsea_summary = document.getElementById("toggle_gsea_summary")
        toggle_gsea_summary.addEventListener('click', () => {
          toggle_de_display("de_gsea_div", all_divs)
          // since the plot has a display of none at the start, the initial resize
          // will not trigger, need to do it manually
          setTimeout(()=> {window.dispatchEvent(new Event('resize'));}, 0.1);
        })
      }
    }

    async function display_correlation_analysis_results(analysis) {
      const gois = get_gois()
      const goi = gois[0]

      settings_content.innerHTML = `<strong>Analysis Hash: </strong>{{ analysis }}</br>
      <strong>Script: </strong> {{ script }} </br>
      <strong>Project: </strong> {{ project }} </br>
      <strong>Genes of Interest: </strong> {{ gois }} </br>
      `

      const results_header = document.getElementById("results_header")
      results_header.innerHTML = "Correlation Analysis: ".concat(goi)
      results_header.style.display = "block"

      document.getElementById("correlation_view_container").style.display = "block"
      const correlation_volcano_graph = document.getElementById("correlation_volcano_graph")
      correlation_volcano_graph.src = "{{ MEDIA_URL }}/media/".concat(analysis).concat("/Corr_Analysis/").concat(goi).concat("_corr_volcano.html")

      document.getElementById("download_correlation").addEventListener('click', () => {
        try {
          download_single_analysis(analysis)
        } catch (exception) {
          final_message = exception
          error = true
        }
      })

      correlation_comparison_table_body = document.getElementById("correlation_comparison_table").getElementsByTagName("tbody")[0]

      // finally fetching the tsv
      let correlation_comparisons;
      let last_plot_index;
      try {
        const json_response_correlation_comparisons = await fetch_response("{% url 'provide-correlation-comparisons' analysis_id=analysis %}")
        correlation_comparisons = json_response_correlation_comparisons.table_items
        last_plot_index = json_response_correlation_comparisons.last_plot_index
      } catch (exception) {
        throw new Error(exception)
      }

      // I think its best to put the "clickable" items at the top
      for (let i = 0; i < correlation_comparisons.length; i++) {
        const newRecord = document.createElement("tr");
        // last item is the respective plot media path
        let gene_of_comparison = correlation_comparisons[i][0];
        for (let j = 0; j < correlation_comparisons[i].length; j++) {
          const newField = document.createElement("td");
          newField.innerHTML = correlation_comparisons[i][j]
          newRecord.appendChild(newField)
        }

        // check if a plot here exists, and add the code below
        if (last_plot_index !== -1 && i <= last_plot_index) {
          newRecord.className = "inspectable_item"
          newRecord.addEventListener('click', async () => {
            let json_response_gene_expr;

            try {
              json_response_gene_expr = await fetch_response("/analysis/fetch_high_corr_gene_exprs/{{ analysis }}/".concat(goi).concat("/").concat(gene_of_comparison))
            } catch (exception) {
              throw new Error(exception)
            }

            const img_url = "{{ MEDIA_URL }}/media/".concat(analysis).concat("/Corr_Analysis/plots/").concat(goi).concat("_").concat(gene_of_comparison).concat(".png")
            image_modal.getElementsByClassName("modal-title")[0].innerHTML = goi.concat(" vs ").concat(gene_of_comparison)

            // should not be an issue if gene_of_comparison and goi are equal
            let x_data = json_response_gene_expr[gene_of_comparison]
            let y_data = json_response_gene_expr[goi]

            let hovertext = '<b>Patient</b>: %{customdata}<br>'
            hovertext = hovertext.concat(`<b>log2(${gene_of_comparison})</b>: %{x}<br>`)
            hovertext = hovertext.concat(`<b>log2(${goi})</b>: %{y}<br>`)
            hovertext = hovertext.concat('<extra></extra>')

            const main_plot = {
              name: 'Data',
              mode: 'markers',
              type: 'scatter',
              x: x_data,
              y: y_data,
              customdata: json_response_gene_expr.Names,
              hovertemplate: hovertext,
              orientation: 'h',
              marker: { size: 4, color: "grey" } // keeping size equal, as plotly is struggling with too much data
            };

            // before we would take the highest/lowest for each axis, but the scale would look weird,
            // hence take highest axis valie
            // the ... deconstructs array elements into individual items, which is what the Math functions use

            function turn_positive(arr) {
              let newArr = [];
              for (let i = 0; i < arr.length; i++) {
                newArr.push(Math.abs(arr[i]));
              }
              return newArr;
            }

            const positive_x_vals = turn_positive(x_data)
            const positive_y_vals = turn_positive(y_data)


            const highest_axis_value = Math.max(...positive_x_vals) > Math.max(...positive_y_vals) ? Math.max(...positive_x_vals) : Math.max(...positive_y_vals)

            // const x_highest_range = Math.max(Math.abs(...x_data)) + 0.05
            // const x_lowest_range = Math.min(...x_data) > 0 ? (0 + 0.05) : Math.max(Math.abs(...x_data)) + 0.05
            // const y_highest_range = Math.max(Math.abs(...y_data)) + 0.05
            // const y_lowest_range = Math.min(...y_data) > 0 ? (0 + 0.05) : Math.max(Math.abs(...y_data)) + 0.05

            const x_highest_range = highest_axis_value + 0.05
            const x_lowest_range = Math.min(...x_data) > 0 ? (0 + 0.05) : highest_axis_value + 0.05
            const y_highest_range = highest_axis_value + 0.05
            const y_lowest_range = Math.min(...y_data) > 0 ? (0 + 0.05) : highest_axis_value + 0.05

            const layout = {
              title: "Expression Scatterplot: ".concat(goi).concat(" vs ").concat(gene_of_comparison),
              xaxis: {title: `log2(${gene_of_comparison})`, range: [-x_lowest_range, x_highest_range] }, // safe values for ranges, as correlation should never exceed/go below +-1 respectively
              yaxis: {title: `log2(${goi})`, range: [-y_lowest_range, y_highest_range]},
              hoverlabel: { bgcolor: "white" },
              margin: {l: 60} ,// use it to adjust space for the margins
              autosize: true
            }
            const config = {responsive: true} // size of graph automatically changes when size of view changes

            // now need to calculate the regression line:
            var x_mean = x_data.reduce((acc, cur) => acc + cur, 0) / x_data.length;
            var y_mean = y_data.reduce((acc, cur) => acc + cur, 0) / y_data.length;

            // Calculate slope (m) and y-intercept (b)
            var numerator = 0;
            var denominator = 0;

            for (var i = 0; i < x_data.length; i++) {
                numerator += (x_data[i] - x_mean) * (y_data[i] - y_mean);
                denominator += Math.pow((x_data[i] - x_mean), 2);
            }

            var slope = numerator / denominator;
            var intercept = y_mean - slope * x_mean;

            // Calculate the line of best fit
            var lineOfBestFit = x_data.map(x => [x, slope * x + intercept]);

            // plotly.js does not currently have any support for a line of best fit
            // will need to use workarounds (hence, a new "plot")
            const line_of_best_fit_plot = {
                x: lineOfBestFit.map(point => point[0]),
                y: lineOfBestFit.map(point => point[1]),
                mode: 'lines',
                type: 'scatter',
                name: 'Line of Best Fit',
                hoverinfo: 'none',
                line: {
                  width: 1 // Set the width of the lines to 2 pixels
                }
            };

            const data = [main_plot, line_of_best_fit_plot]

            document.getElementById("modal_graph").style.display = "block";
            Plotly.newPlot('modal_graph', data, layout, config);
            setTimeout(()=> {window.dispatchEvent(new Event('resize'));}, 0.1);

            //modal_download.addEventListener('click', () => {
            //  const plotHtml = Plotly.toHTML('modal_graph')
            //  //let dummyElement = document.createElement("a");
            //  //dummyElement.href = modal_download.href // Replace "path_to_your_file" with the URL or file path you want to download
            //  //dummyElement.download = dummyElement.href.split("/")[dummyElement.href.split("/").length - 1]; // Replace "filename" with the desired name of the downloaded file
            //  //document.body.appendChild(dummyElement);
            //  //dummyElement.click();
            //  //document.body.removeChild(dummyElement);
            //})

            $("#image_modal").modal('show');
          })
          const graph_icon = new Image()
          graph_icon.src = "{% static 'icons/file-bar-graph.svg' %}"
          newRecord.getElementsByTagName("td")[0].className = "d-flex justify-content-between"
          newRecord.getElementsByTagName("td")[0].appendChild(graph_icon)
        }

        correlation_comparison_table_body.appendChild(newRecord)
      }

      // overriding default sorting order by the first column, allowing items with plots to be shown first
      $('#correlation_comparison_table').DataTable({"order": []}); 
    }

    async function fetch_response(url) {
      try {
        const response = await fetch(url)
        if (response.status !== 200) {
            throw new Error(` ${response.status}`)
        } 
        const json_response = await response.json()
        return json_response
      } catch (exception) {
        throw new Error(exception)
      }
    }

    async function download_single_analysis(analysis, display_gsea=false) {
      let url = "{% url 'analysis-download' analysis_id=analysis %}"
      display_gsea = display_gsea === "True" ? true : false
      // if GSEA failed, fetch non GSEA version
      if (display_gsea && !document.getElementById("gsea_reports")) display_gsea = false
      url = url.concat("?display_gsea=").concat(display_gsea)
      try {
        const response = await fetch(url)
        if (response.status !== 200) {
            throw new Error(` ${response.status} - ${response.error}`)
        }
        window.location.href = url;
      } catch (exception) {
        alert(exception)
        throw new Error(exception)
      }
    }

    // used by both to check if the analysis is fully complete
    // de_only is for checking only the de_part
    async function wait_for_analysis(analysis, de_only) {

      const url =  de_only === false ? "{% url 'check-fully-downloaded' analysis_id=analysis %}" : "{% url 'check-de-finished' analysis_id=analysis %}"

      function timeout(ms) { 
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      try {
        while (true) {
            const response = await fetch(url)
            if (response.status === 404) {
                throw new Error(` ${response.status} - Analysis not found`)
            }
            const json_response = await response.json()
            if (response.status !== 200) {
                throw new Error(` ${response.status} - ${json_response.error}`)
            } else {
              if (json_response.completed === true) break
            }
            await timeout(5000)
          }
      } catch (exception) {
        throw new Error(exception)
      }
    }

    async function fetch_all_analysis() {
      let error = false
      let final_message = ""

      // need to find a way to differentiate between DE and Correlation
      try {
        if ('{{ analysis_type }}' === "Correlation") {
          await wait_for_analysis('{{ analysis }}', false)
          display_correlation_analysis_results('{{ analysis }}')
        } else if ('{{ analysis_type }}' === "DE") {
          await wait_for_analysis('{{ analysis }}', true)
          display_de_analysis_results('{{ analysis }}')
        }
      } catch (exception) {
        final_message = exception
        error = true
      }

      if (error === false) final_message = "Finished"

      document.getElementById("view_loading_spinner").style.display = "none"
      document.getElementById("request_status").innerHTML = final_message

      if (error === true) return;

      document.getElementById("view_loading_div").style.display = "none"

      // if DE, still need to wait for gsea
      // add conditions here when checking if we want to have displayed or not
      if ('{{ analysis_type }}' === "DE") {
        if ('{{ display_gsea }}' === "True") {
          await wait_for_analysis('{{ analysis }}', false)
          display_gsea_results('{{ analysis }}')
        } else {
          document.getElementById("download_de_div").style.display = "block"
        }
      }
    }

    fetch_all_analysis()
  </script>
</html>